<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
</head>
<body>
<h1>Authors</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
        </tr>
        <tr th:each="author: ${authors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.firstname}"></td>
            <td th:text="${author.lastName}"></td>
        </tr>
    </table>
</body>
</html>